@media (min-width: 1050px) {
  .exp_main {
    position: relative;
    background-color: white;
    z-index: 80;
    width: 100%;
    height: auto;
    padding-top: 40px;
    border-top: 1.5px solid lightgray;
  }
  .exp_main h1 {
    margin-left: 90px;
    margin-bottom: 50px;
    color: #3e64ff;
    text-decoration: underline;
  }

  .systems {
    width: 100%;
    height: auto;
    display: flex;
  }
  .heading {
    width: 30%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading h2{
    color: #3e64ff;
  }
  .heading h3{
    color: rgb(104, 113, 122);
  }
  .details {
    width: 65%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-bottom: 1.5px solid lightgrey;
  }
  .details_child1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 15px;
    left: 39px;
    background-color: #3e64ff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .details_child1 img {
    height: 60%;
  }
  .details_child2 {
    display: flex;
    flex-direction: column;
    /*     //top right bottom left */
    padding: 15px 0px 50px 80px;
  }
  .details_child2 h1 {
    margin-left: 0px;
    margin-bottom: 30px;
    color: black;
  }
  .details_child2 h2 {
    margin-bottom: 5px;
    color: #3e64ff;
  }
  .details_child2 li{
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(88, 88, 100);
  }
}










@media (min-width: 800px) and (max-width: 1050px) {
    .exp_main {
      position: relative;
      background-color: white;
      z-index: 80;
      width: 100%;
      height: auto;
      padding-top: 40px;
      border-top: 1.5px solid lightgray;
    }
    .exp_main h1 {
      margin-left: 45px;
      margin-bottom: 50px;
      color: #3e64ff;
      text-decoration: underline;
    }
  
    .systems {
      width: 100%;
      height: auto;
      display: flex;
    }
    .heading {
      width: 30%;
      height: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .heading h2{
      color: #3e64ff;
    }
    .heading h3{
      color: rgb(104, 113, 122);
    }
    .details {
      width: 65%;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      border-bottom: 1.5px solid lightgrey;
    }
    .details_child1 {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      top: 15px;
      left: 39px;
      background-color: #3e64ff;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .details_child1 img {
      height: 60%;
    }
    .details_child2 {
      display: flex;
      flex-direction: column;
      /*     //top right bottom left */
      padding: 15px 0px 50px 80px;
    }
    .details_child2 h1 {
      margin-left: 0px;
      margin-bottom: 30px;
      color: black;
    }
    .details_child2 h2 {
      margin-bottom: 5px;
      color: #3e64ff;
    }
    .details_child2 li{
      font-size: 17px;
      margin-bottom: 10px;
      color: rgb(88, 88, 100);
    }
  }














@media (max-width: 800px) {
  .exp_main {
    position: relative;
    background-color: white;
    z-index: 98;
    width: 100%;
    height: auto;
    padding-top: 40px;
    border-top: 1.5px solid lightgray;
  }
  .exp_main h1 {
    margin-left: 30px;
    margin-bottom: 30px;
    color: #3e64ff;
    text-decoration: underline;
  }

  .systems {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
  }
  .heading {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 80px;
    left: 95px;
    z-index: 2;
  }
  .heading h2{
    font-size: 15px;
    color: #3e64ff;
    
  }
  .heading h3{
    font-size: 12px;
    
  }
  .details {
    width: 100%;
    display: flex;
    padding-left: 7px;
    padding-right: 8px;
    position: relative;
    border-bottom: 1.5px solid lightgrey;
  }
  .details_child1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 10px;
    left: 20px;
    background-color: #3e64ff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .details_child1 img {
    height: 60%;
  }
  .details_child2 {
    display: flex;
    flex-direction: column;
    /*     //top right bottom left */
    padding: 15px 0px 50px 80px;
  }
  .details_child2 h1 {
    margin-left: 0px;
    font-size: 18px;
    margin-bottom: 90px;
    color: black;
  }
  .details_child2 h2 {
    font-size: 13px;
    margin-bottom: 5px;
    color: #3e64ff;
  }
  .details_child2 li{
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(88, 88, 100);
  }
}
